################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RepresentationFramework/v14
/FinalEquation/bin/Debug
/FinalEquation/obj/Debug
/packages
